@using Extentions
@model ViewModels.Account.SearchViewModel
@{
    ViewData["Title"] = "Search";
}

<div class="search-container">
    @if (Model is null || Model.Result is null || Model.Result.Count == 0)
    {
        <h1 class="not-found">Никого не нашлось</h1>
        <p class="not-found"> Попробуйте изменить параметры поиска и повторить попытку</p>
    }
    else
    {
        <ul class="search-result">
            @foreach (var user in Model.Result)
        {
                <li>
                    <figure class="search-img-container">
                        <img class="search-profile-img" src="@user.Image">
                        <figcaption>
                            @if (Model.Friends.Contains(user))
                            {
                                <form asp-controller="Friends" method="post" asp-action="DeleteFriend" asp-route-id="@user.Id">
                                    <button type="submit" class="add-friend-btn">Удалить из друзей</button>
                                </form>
                            }
                            else
                            {
                                <form asp-controller="Friends" method="post" asp-action="AddFriend" asp-route-id="@user.Id">
                                    <button type="submit" class="add-friend-btn">Добавить в друзья</button>
                                </form>
                            }
                        </figcaption>
                    </figure>
                    <div class="search-info-container">
                        <p class="search-name">@user.GetFullName()</p>
                        <p><span>Дата рождения:</span> <span class="search-info">@user.BirthDate.ToLongDateString()</span></p>
                        <p><span>Возраст:</span> <span class="search-info">@user.GetStrAge()</span></p>
                        <p><span>Статус:</span> <span class="search-info"></span>@user.Status</p>
                    </div>
                </li>
        }
        </ul>
    }
</div>


