@using Extentions
@model ViewModels.Account.ChatViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Chat";
}

<h3>Диалог с пользователем @Model.Other.GetFullName()</h3>
<div class="message-list">
    @foreach(var message in Model.Messages)
    {
        @if (message.Sender == Model.Current)
        {
            <div class="message-container self">
                <div>
                    <p class="date">@message.Time.ToShortDateString()</p>
                    <p class="date">@message.Time.ToString("HH:mm")</p>
                </div>
                <img class="chat-img" src="@Model.Current.Image" />
                <p class="message">@message.Text</p>
            </div>
        }
        else if (message.Sender == Model.Other)
        {
            <div class="message-container other">
                <div>
                    <p class="date">@message.Time.ToShortDateString()</p>
                    <p class="date">@message.Time.ToString("HH:mm")</p>
                </div>
                <img class="chat-img" src="@Model.Other.Image" />
                <p class="message">@message.Text</p>
            </div>
        }

    }
</div>
<div class="chat-prompt">
    <form asp-controller="Messages" method="post" asp-action="SendMessage" asp-route-id="@Model.Other.Id">
        <span class="message-prompt">Ваше сообщение:</span>
        <div>
            <textarea class="message-inp" asp-for="NewMessage" placeholder="Наберите текст сообщения"></textarea>
            <button class="send-btn">Отправить</button>
        </div>
    </form>
</div>

<script>
    let el = document.getElementsByClassName("message-list")
    el.scrollTo(0, el.scrollHeight);
</script>
